body {
  margin: 0;
  padding: 0;
}


#wrapper * {
  font-family: 'Consolas';
  font-size: 22px;
}

#wrapper {
  background: #000000;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#large-text-box {
  display: flex;
  width: 45vw;
  height: 15vh;
  margin: 20px;
}

#small-text-box {
  display: flex;
  width: 40vw;
  height: 10vh;
  margin: 20px;
}

h1 {
  display: flex;
  width: 100%;
  outline: 2px dashed #cecece;
  border: 2px solid #000000;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  color: #efefef;
  text-align: center;
}

#buttons {
  display:flex;
  justify-content: space-around;
}

#sudoku-wrapper {
  width: 35vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sudoku-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

#sudoku-puzzle {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #cefcef;
}

#sudoku-puzzle * {
  display: flex;
  justify-content: center;
}

#sudoku-puzzle div {
  width: 100%;
  height: 90%;
  background-color: #2e2e2e;
}

#sudoku-puzzle div:nth-child(3n):nth-child(-n+6) {
  border-bottom: 2px solid #cefcef;
}

#sudoku-puzzle div span {
  width: 65%;
  font-size: 20px;
  color: #efefef;
  margin: 2px 4px 2px 4px;
  background-color: #202020;
  user-select: none;
}

#sudoku-puzzle div span:nth-child(3n):nth-child(-n+6) {
  border-right: 2px solid #cefcef;
}

#sudoku-puzzle div span:hover {
  background-color: #babbab !important;
}

#sudoku-controls {
  border: 1px solid #cefcef;
}

#sudoku-controls * {
  display: flex;
  justify-content: center;
}

#sudoku-controls div {
  width: 100%;
  background-color: #2e2e2e;
}

#sudoku-controls div span {
  margin: 2px 4px 2px 4px;
  font-size: 20px;
  color: #efefef;
  background-color: #202020;
  user-select: none;
}

#sudoku-controls div span:hover {
  background-color: #babbab !important;
}

#controls {
  margin: 8px;
  color: #efefef;
}

#conflict {
  background-color: #880000 !important;
}

#invalid {
  background-color: #888800 !important;
}

.disabled {
  background-color: #000000 !important;
}

.dialog {
  text-align: center;
}
